---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
    const allPosts = await getCollection("blog");

    const uniqueTags = [
        ...new Set(allPosts.flatMap((post: any) => post.data.tags)),
    ];
    return uniqueTags.map((tag) => {
        const filterPosts = allPosts.filter((post: any) =>
            post.data.tags.includes(tag),
        );
        return { params: { tag }, props: { posts: filterPosts } };
    });
};

type Props = {
    posts: any[];
};

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {
            posts.map((post: any) => (
                <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
            ))
        }
    </ul>
</BaseLayout>
