---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export const getStaticPaths = (() => {
    const allPosts = Object.values(
        import.meta.glob("../posts/*.md", { eager: true }),
    );

    const uniqueTags = [
        ...new Set(allPosts.flatMap((post: any) => post.frontmatter.tags)),
    ];
    console.log(uniqueTags);
    return uniqueTags.map((tag) => {
        const filterPosts = allPosts.filter((post: any) =>
            post.frontmatter.tags.includes(tag),
        );
        return { params: { tag }, props: { posts: filterPosts } };
    });
}) satisfies GetStaticPaths;

type Props = {
    posts: any[];
};

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {
            posts.map((post: any) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
